* {
  box-sizing: border-box
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
.hid {
  display: none;
}
.btn {
  color: #ffffff;
  background-color: #ff1717;
  border-radius: 30px;
  border: none;
  &:focus {
    outline:none;
  }
  & a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 30px;
  }
}

input {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}


h1,
h2,
h3,
h4,
h5,
li,
ul,
a,
button,
h6,
p {
  font-family: 'Roboto', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h2 {
  color: rgb(252, 1, 12);
  line-height: 46px;
  font-size: 52px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 46px;
  color: #020202;
  font-weight: 600
}

h4 {
  font-size: 42px;
  line-height: 1.23;
  color: #020202;
  text-align: center;
}

h5 {
  color: rgb(248, 5, 30);
  font-size: 40px;
}

h6 {
  font-size: 34px;
  color: #020202;
}

body {
  margin: 0
}

img {
  display: block;
  width: 100%
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}


@media (max-width: 1200px) {
  .container {
    max-width: 760px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 580px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 320px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
  }
  & p {
    font-size: 16px;  
  }
  & h2 {
    font-size: 30px;
  }
  & h3 {
    font-size: 46px;
  }
  & h4 {
    font-size: 30px;
  }
  & h5 {
    font-size: 40px;
    font-weight: 600;
  }
}