@font-face {
  font-family: 'Noto Sans Bold';
  src: url('../fonts/NotoSans-Bold/NotoSans-Bold.eot');
  src: url('../fonts/NotoSans-Bold/NotoSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/NotoSans-Bold/NotoSans-Bold.woff') format('woff'),
    url('../fonts/NotoSans-Bold/NotoSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url('../fonts/OpenSansRegular/OpenSans-Regular.eot');
  src: url('../fonts/OpenSansRegular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/OpenSansRegular/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSansRegular/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}